<div class="container">

  <div class="card mt-3">
    <div class="row">
      <div class="col">
        <h1 class="text-center">
          Create new appointmet
        </h1>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <input class="form-control" [(ngModel)]="newAppointmentTitle" placeholder="Appointment Title" />
      </div>

      <div class="col-md-4">
        <input class="form-control" [(ngModel)]="newAppointmentDate" placeholder="Appointment Date" type="date" />
      </div>

      <div class="col-md-2">
        <button class="btn btn-primary w-100" (click)="addAppoitment()">Add</button>
      </div>
    </div>
  </div>

  <h2 class="text-center mt-5">
    Appointments
  </h2>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let app of appointmets; index as i;">
      {{app.title}} {{app.date}}
      <button class="btn btn-danger" (click)="deleteAppointment(i)">Delete</button>
    </li>
  </ul>
</div>
